# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Pandas
4. NumPy
5. Scipy

|Data Science Tools|
| -------          |
|Tableau           |
|PowerBI           |
|Excel             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
min = 200
print("Hour :",int(200/60)," Mins:", int(200%60))
#This will convert 200 minutes to hours by diving by 60

Hour : 3  Mins: 20

**Objectives:**

* List popular languages for Data Science
* Create a code cell to convert minutes to hours
* Create a code cell to multiply and add numbers
* Share your notebook through GitHub
* Create a markdown cell to list data science libraries

##Author
Nitin Jain